<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Niv.prop.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <Niv.prop.Settings>
            <setting name="theme" serializeAs="String">
                <value>light</value>
            </setting>
            <setting name="windowState" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="left" serializeAs="String">
                <value>-1</value>
            </setting>
            <setting name="top" serializeAs="String">
                <value>-1</value>
            </setting>
            <setting name="width" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="height" serializeAs="String">
                <value>0</value>
            </setting>
        </Niv.prop.Settings>
    </userSettings>
</configuration>